{{ repeat 10 "/" }} Step 1 of 4 in Character Creation {{ repeat 10 "\\" }}

Please choose your character's gender:

    1. Male 
    2. Female

This choice affects how other characters and NPCs will refer to your 
character while in {{ .WorldName }}

Your choice?