.vscode
private-notes.txt
_data/**/players/*
_data/**/plugin-data/*
_data/logs/*
**/config-overrides.yaml
**/.roundcount
**/rooms.instances
vendor/
server.crt
server.key
tmp-gomud.exe
debug_app.exe
debug_app
__debug*
.DS_Store*
**/.DS_Store
