
The following races are available in {{ .WorldName }}:

    Humans:       The most adaptable species in known space.
    Syntehtics:   Human consciousness housed in artificial bodies.
    Umbrans:      Alien species existing partially outside normal reality.
    Verdani:      Plant-based humanoids with bark-like skin.
    Voidborn:     Human descendants, altered by deep space.
    Stoneheart:   Large, rocky humanoids with embedded crystalline formations.
    Corvans:      Highly intelligent and feathered avian humanoids