

{{ repeat 20 " " }}{{ repeat 40 "-" }}

{{ repeat 20 " " }}{{ pad 40 "Dusk, A passage of time within Keth'volar" }}

{{ repeat 20 " " }}{{ repeat 40 "-" }}

{{ repeat 20 " " }}Enter Dusk by providing your username.
{{ repeat 20 " " }}Create a new character? Enter "new".
{{ repeat 20 " " }}"quit" at any time to exit.



